
body{
    height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    background: url(https://ucarecdn.com/695235bf-bd21-4c1d-be6d-751ccd0c2ed4/-/progressive/yes/-/quality/lightest/) center center fixed no-repeat;
    background-size: 100%;
    background-size: cover;
    font-weight: 400;
    padding-bottom: 100px;
}

.navbar-default, .navbar-brand, .navbar-nav>li>a{
    background-color: rgba(255,255,255,0) !important;
    border: none !important;
    color: #fff !important;
    text-shadow: 0 0 6px rgba(20,20,20,0.45);
}

@media(max-width: 767px){
    .navbar-header, .navbar-collapse{
        background: #416477;
    }
    .icon-bar{
        background-color: #f7f7f7 !important;
    }
}

.panel-footer{
    display: block;
    position: relative;
    padding-top: 1.5em;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: #91a9a9; /* RGBA(145,169,169,1) Light Blue-Grey*/
}

.tc{
    text-align: center !important;
    color: #fff !important;
    font-weight: 300 !important;
}  