.row{
  margin: 0 auto !important;
}

.content {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  padding: 20px;
}

.ch {
  margin-bottom: 24px;
  color: #fff;
  font-size: 44px;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(20,20,20,0.25);
}

.ct {
  margin-bottom: 24px;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  text-shadow: 0 0 4px rgba(20,20,20,0.55);
}

.cta {
  background: rgba(125,125,125,0.7);
  display: inline-block;
  text-decoration: none !important;
  margin: 0;
  padding: 12px 48px;
  color: #ececec !important;
  font-size: 22px;
  border: solid 4px #ececec;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  text-shadow: 0 0 8px rgb(0, 0, 0);
}

.cta:hover{
  color: #dadada !important;
  border: solid 4px #dadada;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
}
