@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700,400,300,100);

html, body{
	height: 100%;
	min-height: 100%;
  color: #e6e6e6;
}

a{
  color: white;
}

a:hover{
  color: grey;
}

.cta {
  display: table;
  text-decoration: none !important;
  margin: 0 auto;
  padding: 12px 48px;
  color: #ececec !important;
  font-size: 22px;
  border: solid 4px #ececec;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  text-shadow: 0 0 8px rgb(0, 0, 0);
  background: rgba(125,125,125,0.7);
  margin-top: 2em !important;
}

.cta:hover{
  color: #dadada !important;
  border: solid 4px #dadada;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
}

header{
  position: relative;
  height: 600px;
  background: url(https://ucarecdn.com/695235bf-bd21-4c1d-be6d-751ccd0c2ed4/-/progressive/yes/-/quality/lightest/);
  background-size: auto 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.page-header{
  border: none !important;
}

/*.logo{
    height: 180px;
    width: 100%;
    background: url(../img/logo.svg);
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -90px;
}*/

.logo{
    font-size: 4.5em;
    color: #fff;
    text-align: center;
    margin-top: 230px;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 300;
}

.admiral-header, .page-header h1{
    color: white;
}

.admiral-slug, .page-header em{
    color: white;
}


.admiral-focus{
    color: white;
    font-size: 1.45em;
}

.pagelet, #intro{
    padding-top: 50px;
    padding-bottom: 100px;
    /*border-bottom: 2px solid rgba(200,200,200,0.5);*/
    background-color: #416477;
}

section.module.parallax {
  padding: 240px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
section.module.parallax h1 {
  color: #b6e1e0;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(20,20,20,0.5);
}

section.module.parallax.para-1 {
  background-image: url(https://ucarecdn.com/dcbf570f-83cc-42d6-9e9d-42be05fb45f1/-/quality/lightest/-/progressive/yes/-/effect/grayscale/);
  background-position: bottom center;
  background-attachment: fixed;
  overflow: hidden;
}

section.module.parallax.para-2 {
  background-image: url(https://ucarecdn.com/73444182-339e-455f-8652-c9aed5b910f4/-/quality/lightest/-/progressive/yes/-/effect/grayscale/);
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

section.module.parallax.para-3 {
  background-image: url(https://ucarecdn.com/b053a724-2677-4e48-9f34-b52d15933188/-/quality/lightest/-/progressive/yes/-/effect/grayscale/);
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}