@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700,400,300,100);

a {
  color: #fff;
}

a:hover {
  color: grey;
}

.admiral-focus {
  color: #fff;
  font-size: 1.45em;
}

.admiral-header, .page-header h1 {
  color: #fff;
}

.admiral-slug, .page-header em {
  color: #fff;
}

body {
  color: #e6e6e6;
  height: 100%;
  min-height: 100%;
}

.contact-us-container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 60%;
}

.contact-us-link,
.contact-us-link:active,
.contact-us-link:hover,
.contact-us-link:link,
.contact-us-link:visited {
  text-decoration: none;
}

.contact-us-list {
  font-size: 30px;
  font-weight: 200;
  list-style-type: none;
  padding: 0;
}

.contact-us-list-item {
  margin-bottom: 10px;
}

@media only screen and (min-width: 700px) {

  .contact-us-container {
    display: inline;
  }

  .contact-us-list {
    text-align: center;
    width: 100%
  }

  .contact-us-list-item {
    display: inline-block;
    margin: 0 0 0 20px;
  }
}

.cta {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  background: rgba(125, 125, 125, 0.7);
  border: solid 4px #ececec;
  color: #ececec !important;
  display: table;
  font-size: 22px;
  margin: 0 auto;
  margin-top: 2em !important;
  padding: 12px 48px;
  text-decoration: none !important;
  text-shadow: 0 0 8px rgb(0, 0, 0);
  transition: all 0.25s ease;
}

.cta:hover {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  color: #dadada !important;
  border: solid 4px #dadada;
  transition: all 0.25s ease;
}

header {
  background: url(https://ucarecdn.com/695235bf-bd21-4c1d-be6d-751ccd0c2ed4/-/progressive/yes/-/quality/lightest/);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 600px;
  background-size: cover;
  background-position: center;
  height: 600px;
  overflow: hidden;
  position: relative;
}

html {
  color: #e6e6e6;
  height: 100%;
  min-height: 100%;
}

/*.logo{
    height: 180px;
    width: 100%;
    background: url(../img/logo.svg);
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -90px;
}*/

.logo {
  color: #fff;
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 4.5em;
  font-weight: 300;
  margin-top: 230px;
  text-align: center;
}

.pagelet, #intro {
  /*border-bottom: 2px solid rgba(200,200,200,0.5);*/
  background-color: #416477;
  padding: 50px 0 100px 0;
}

.page-header {
  border: none !important;
}

section.module.parallax {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 240px 0;
}

section.module.parallax h1 {
  color: #b6e1e0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-shadow: 0 0 8px rgba(20, 20, 20, 0.5);
  text-transform: uppercase;
}

section.module.parallax.para-1 {
  background-attachment: fixed;
  background-image: url(https://ucarecdn.com/dcbf570f-83cc-42d6-9e9d-42be05fb45f1/-/quality/lightest/-/progressive/yes/-/effect/grayscale/);
  background-position: bottom center;
  overflow: hidden;
}

section.module.parallax.para-2 {
  background-attachment: fixed;
  background-image: url(https://ucarecdn.com/73444182-339e-455f-8652-c9aed5b910f4/-/quality/lightest/-/progressive/yes/-/effect/grayscale/);
  background-position: center center;
  overflow: hidden;
}

section.module.parallax.para-3 {
  background-attachment: fixed;
  background-image: url(https://ucarecdn.com/b053a724-2677-4e48-9f34-b52d15933188/-/quality/lightest/-/progressive/yes/-/effect/grayscale/);
  background-position: center center;
  overflow: hidden;
}
